
$header_color : #f4f4f4;
$writting_color_header: #616060;
$writting_color : #bc694e;
$writting_color_headerc: #151515;
$header1: #bc694e;
$header2: #848484;
$header3: #4f4f4f;
$header4: #4f4f4f;
$iconColor: #333333;
$footer_color:#f4f4f4;